Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
jobs:
  build-and-deploy:
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - add_ssh_keys:
          fingerprints:
            - "2c:9f:7e:e3:ca:a3:bf:ed:bb:6b:52:f4:e4:d3:85:88"
      - checkout
      - run:
          name: Build
          command: mvn -B -DskipTests clean package
      - run:
          name: Test
          command: mvn test
      - run:
          name: Deploy Over SSH
          command: |
            pwd
            ls
            scp -o StrictHostKeyChecking=no -r /home/circleci/project/target/HelloWorld-1.0-SNAPSHOT.jar ubuntu@ec2-18-117-119-56.us-east-2.compute.amazonaws.com:/home/ubuntu
workflows:
  sample:
    jobs:
      - build-and-deploy